* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #151a1d;
    margin: 0;
    color: white;
}

.header {
    margin: 0;
    height: 50px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header .container ul li {
    list-style: none;
    display: flex;
    color: white;
    margin-left: 100px;
    margin-right: -40px;
}

ul {
    width: 125px;
    display: flex;
    justify-content: space-between;

}

li {
    margin-top: 20px;
    justify-content: space-around;
}

.banner {
    margin: 50px;
    margin-left: auto;
    margin-top: 70px;
}

.banner .container {
    font-size: 40px;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-left: 30px;
}

#Techmoovers {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3b89fe;
    font-size: 45px;
    margin-left: -20px;
}

.banner p {
    margin-left: 80px;
}

.container img {
    display: flex;
    justify-content: end;
}

.box h1 {
    margin-left: 230px;
    margin-top: 50px;
}

.banner .container hr {
    margin-left: 50px;
}

.container hr {
    width: 600px;
    margin: -15px;
}

.box P {
    margin-left: 30px;
}

.social {
    margin-left: 80px;
}

img {
    display: flex;
    margin-top: -115px;
    width: 100px;
    margin-left: 10px;
}

.imagem {
    margin-left: 790px ;
    margin-top: -60;
    cursor: pointer;
}

.imagem img {
    width: 400px;
    height: 300px;
    margin-top: -300px;
    border-radius: 0%;
}

.imagem .hr2 {
    margin-right: 160px;
    transform: rotate(270deg);
    margin-left: 39px;
    height: 450px;
    margin-top: -376px;
    width: 340px;
}